.btn-submit{
    width: 100px;
    border: 1px solid #004e64 !important;
    border-radius: 25px;
    color: #004e64 !important;
    background-color: white !important;
    font-size: 20px !important;
    font-weight: bold !important;

}
.btn-submit:hover {
    background: lightseagreen !important;
    color: white !important;
    text-decoration: none;
}
.btn-cancel{
    width: 100px;
    border: 1px solid indianred !important;
    border-radius: 25px;
    color: indianred !important;
    background-color: white !important;
    font-size: 20px !important;
    font-weight: bold !important;

}
.btn-cancel:hover {
    background: lightpink !important;
    color: white !important;
    text-decoration: none;
}

.form{
    box-shadow: 0 5px 10px rgba(0,0,0,0.25),0 10px 5px rgba(0,0,0,0.45);
    z-index: 1;
    border-radius: 5%;
    font-family:"Ink Free";
    font-size: 20px;
    font-weight: bold;
    color:black;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.center_div{
    margin: 0 auto;
    width: 50%
}

